@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply box-border;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    background-color: transparent;
    /* Change this to your desired color */
  }
 
  ::-webkit-scrollbar {
    width: 0.45rem;
  }
  /* Set scrollbar thumb color */
  ::-webkit-scrollbar-thumb {
    @apply  cursor-pointer bg-[#1a1c1e]/10 hover:bg-[#1a1c1e]/20;
  }
  .line-light {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    box-shadow: inset 0px 0px 0px 1px rgba(100, 84, 84, 0.171);
  }
  .line-dark {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    box-shadow: inset 0px 0px 0px 1px rgba(7, 6, 6, 0.63);
  }
  /* border divider */
  .thin-box-divider {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
  }

  .thin-left-divider {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset 1px 0px 0px 0px rgba(29, 29, 29);
    box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }

  .thin-top-divider {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(29, 29, 29);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.06);
  }

  .thin-right-divider {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset -1px 0px 0px 0px rgba(29, 29, 29);
    box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }

  .thin-bottom-divider {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px -1px 0px 0px rgba(29, 29, 29);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.06);
  }

  .medium-box-divider {
    box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 1px 0px,
      rgba(27, 31, 35, 0.1) 0px 0px 0px 1px;
  }
  
  /* Medium top divider */
  .medium-top-divider {
    border-top: 1px solid rgba(27, 31, 35, 0.1);
    /* width, style, color */
  }

  .medium-bottom-divider {
    border-bottom: 1px solid rgba(27, 31, 35, 0.1);
    /* width, style, color */
  }

  /* Medium right divider */
  .medium-right-divider {
    border-right: 1px solid rgba(27, 31, 35, 0.1);
    /* width, style, color */
  }

  /* Medium left divider */
  .medium-left-divider {
    border-left: 1px solid rgba(27, 31, 35, 0.1);
    /* width, style, color */
  }

  /* fonts e-ukraine */
  @font-face {
    font-family: "ukraine-thin";
    src: url("./font/eUkraineThin.otf");
  }

  @font-face {
    font-family: "ukraine-light";
    src: url("./font/eUkraineLight.otf");
  }

  @font-face {
    font-family: "ukraine-regular";
    src: url("./font/eUkraineRegular.otf");
  }

  @font-face {
    font-family: "ukraine-medium";
    src: url("./font/eUkraineMedium.otf");
  }

  @font-face {
    font-family: "ukraine-bold";
    src: url("./font/eUkraineBold.otf");
  }

  /* header fonts */
  @font-face {
    font-family: "ukraineHead-bold";
    src: url("./font/header/eUkraineHeadBold.otf");
  }

  @font-face {
    font-family: "ukraineHead-light";
    src: url("./font/header/eUkraineHeadLight.otf");
  }

  @font-face {
    font-family: "ukraineHead-title";
    src: url("./font/header/eUkraineHeadLOGO.otf");
  }

  @font-face {
    font-family: "ukraineHead-medium";
    src: url("./font/header/eUkraineHeadMedium.otf");
  }

  @font-face {
    font-family: "ukraineHead-regular";
    src: url("./font/header/eUkraineHeadRegular.otf");
  }

  @font-face {
    font-family: "ukraineHead-thin";
    src: url("./font/header/eUkraineHeadThin.otf");
  }
  @font-face {
    font-family: "liberationRegular";
    src: url("./font/LiberationMonoRegular.ttf");
  }
  @font-face {
    font-family: "liberationBold";
    src: url("./font/LiberationMonoBold.ttf");
  }

  .sample {
box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 6px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; }
}
